  html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

nav {
   border-radius: 14px; 
    background: linear-gradient(135deg, #097956, #22c58b);
    padding: 20px;
    display: flex;
    align-items: center;
    color: white;
    font-family: sans-serif;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  font-size: 20px;
  padding: 10px 15px;
  color: black;
  font-weight: 500;
  transition: 0.2s;
}

/* fix hover */
nav ul li a:hover {
  color: black;
}

navbar brand {
  color: white;
}

.card1 {
  border-radius: 14px;
  background: linear-gradient(to right, rgb(196, 127, 0), rgb(122, 78, 0));
}
icon img {
  width: 40px;
  height: 40px;
}

.btn1 {
  background-color: #0F6E56;
  color: #ffffff;
  font-weight: normal;
  border: none;
  border-radius: 12px;
  padding: 6px 16px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  gap: 5px;
}

.btn1:hover {
  background-color: #004529;
  color: #ffffff;
  box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.15);
  transform: translateY(1px);
}

.btn2 {
    background-color: #FDF5E6; 
    color: #5C3A21;           
    font-weight: normal;
    border: none;
    border-radius: 12px;     
    padding: 6px 16px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 5px;                 
}

.btn2:hover {
    background-color: #E6C280; 
    color: #5C3A21;            
    box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.15); 
    transform: translateY(1px);
}

.btn3 {
    background-color: #FCEBEB;
  color: #501313;
  font-weight: normal;
  border: none;
  border-radius: 12px;
  padding: 6px 16px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.btn3:hover:hover {
  background-color: #EAADAD;
  color: #501313;
  box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.15);
      transform: translateY(1px);
}
.btn4 {
  background-color: #0F6E56;
  color: white;
  font-weight: normal;
  border-radius: 12px;
  padding: 6px 16px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}
.btn4:hover:hover {
  background-color: #004529;
  color: white;
  box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.15);
  transform: translateY(1px);
}
.btn5 {
  background-color: #8e9895;
  color: white;
  font-weight: normal;
  border-radius: 12px;
  padding: 6px 16px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}
.btn5:hover:hover {
  background-color: #a4a4a4;
  color: white;
  box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.15);
  transform: translateY(1px);
}
.btn6 {
  background-color: #9e9f9f;
  color: rgb(0, 0, 0);
  font-weight: normal;
  border: none;             
  border-radius: 12px;
  padding: 6px 16px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  margin-left: auto;      
  gap: 5px;
}

.btn6:hover { 
  background-color: #eeeeee;
  color: rgb(0, 0, 0);
  box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.15);
  transform: translateY(1px);
}

